@import './assets//styles/variables.css';

.main_title{
    text-align: center;
    color:red;
}

.ultra-wrapper{
    max-width: 1200px;
    margin:10px auto;
    background: var(--bg-color)!important;
}

 @media (min-width: 1000px){
    .order-queue-container {
        max-width:1500px !important;
        width: 100%;
    }
} 
.warning {
    background-color: #ffcccc;
    color: #ff0000;
    font-weight: bold;
}
html,
body {
    touch-action: none;
    /* impede gestures completamente */
}