@use './mixin' as *;


.formButtonSubmit{
  @include containerButtonSubmit;
    button{
    @include btnSubmit;
    }
}

.sidedishesRecipeBtnContainer{
    margin-top: 40px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    button{
        @include btnUtility;
    }
}
.boxPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    button {
        @include btnUtility;
    }
}

.uploadImage {
    @include uploadImage;
}

form{
    label{
        font-size:$fontSizeFormLabel;
    }
    .hiddenInput {
        display: none !important;
    }
    .checkInput{
        display:flex;
        justify-content:start;
        align-items:center;
        margin: 20px 0;
        label{
            font-size:$fontSizeForm;
        }
        
        input[type="checkbox"] {
            margin-right: 10px;
        }
    }
    select {
        font-size: $fontSizeForm !important;
    }
    

}