

.btnAdmin{

        border-radius: 10px;
        padding: 11px 17px;
        justify-content: center;
        font-family: var(--title-font) !important;
        font-size: 12px;
        font-weight: bold;
        color: var(--btn-admin-text-color) !important;
        background-color: var(--btn-admin-bg-color) !important;

    }