
$btn-admin-bg-color: #14213D;
$btn-admin-text-color: #FCA311;
$btn-admin-table-color: white;
$admin-title-color: #14213D;
$admin-title-fontsize: 30px;
$admin-title-fontfamily:'arial';
$table-text-fontsize:12px;


@mixin btnAdmin{

    border-radius: 10px;
    padding: 11px 17px;
    justify-content: center;
    font-family: var(--title-font) !important;
    font-size: 12px;
    font-weight: bold;
    color: var(--btn-admin-text-color) !important;
    background-color: var(--btn-admin-bg-color) !important;

}

@mixin tableadmin{
   
        width: 100%;       
        border-collapse: collapse;
        /* Remove os espaçamentos entre bordas */
        th,
        td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
            font-size: $table-text-fontsize;

            button {
                @include btnAdmin;
            }
        }

        th {
            background-color: $btn-admin-table-color;
            /* Define uma cor de fundo para o cabeçalho */
            font-weight: bold;
            /* Destaca o texto do cabeçalho */
        }

        tr:nth-child(even) {
            background-color: $btn-admin-table-color;
            /* Adiciona uma cor de fundo para linhas pares */
        }

        tr:hover {
            background-color: #e2c11d;           
        }

        .totals td {
            font-weight: bold;
            font-size: 12px;
        }
    
}