.containerAdminMainMenu {
    background: red;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr; // padrão: sidebar visível
    transition: grid-template-columns 0.3s ease;

    &.changeProportion {
        grid-template-columns: 0 1fr; // sidebar recolhida
    }
  .sidebar {
      background-color: white;
      padding: 3%;
      height: 99vh;
      overflow-y: auto;
      transform: translateX(0);
      opacity: 1;
      transition: transform 0.3s ease, opacity 0.3s ease;

      &.hideSideMenu {
          transform: translateX(-100%); // desliza para fora
          opacity: 0;
      }
        link {
                color: black;
                text-decoration: none;
                transition: color 0.3s;
        
                &:hover {
                    color: gray;
                }
            }
        
            .active {
                color: white !important;
                font-weight: bold;
                background: #14213dce !important;
            }
        }
        section {
            background-color: rgb(196, 194, 194);
            position: relative;
            z-index: 10;
            padding: 5%;
            color: #FCA311;
            background: #14213D;
            grid-column: 2; // força o Outlet sempre na segunda coluna
    
    }
    .sideMenu{
       margin-top:40px;
       display: flex;
       flex-direction: column;
       gap: 5px;
       a{
          padding: 12px 10px;
          color: #FCA311;
          background:#14213D;   
       }
       button {
          padding: 12px 10px;
          color: #FCA311;
          background: #14213D;       
          
           a{
              color: #FCA311;
              background:none;
          }
       }
    }
    .mainContent {
       background:rgb(218, 212, 212);
       color:#14213D;
       padding: 2%;
       height: 80vh;
        overflow-y: auto;
       
            
    }
}

.WarningMessageContainer {
    position: fixed;
    top: 200px;
    max-width: 600px;
    left: 20%;
    z-index: 30;
}




