.containerAdminMainMenu{
    background:red;
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 5fr;
}

.containerAdminMainMenu nav{
    background-color: white;
padding: 3%
}

.containerAdminMainMenu section {
    background-color: rgb(196, 194, 194);

}

.containerAdminMainMenu .sideMenu{
    margin-top:40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.containerAdminMainMenu section{
    padding:5%;
    color: #FCA311;
        background: #14213D;
}

.containerAdminMainMenu .sideMenu a{
    padding: 12px 10px;
    color: #FCA311;
    background:#14213D;
   
}
.containerAdminMainMenu .sideMenu button {
    padding: 12px 10px;
    color: #FCA311;
    background: #14213D;

}
.containerAdminMainMenu .sideMenu button a{
    color: #FCA311;
    background:none;
}

.containerAdminMainMenu .mainContent {
    background:rgb(218, 212, 212);
    color:#14213D;
    padding: 2%;
    height: 80vh;
        overflow-y: auto;
}
.WarningMessageContainer {
    position: fixed;
    top: 200px;
    max-width: 600px;
    left: 20%;
}