.customized-price-container form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
  }
  
  .customized-price-container form div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .customized-price-container form div label {
       display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 3px;
    font-size: 14px;
    color: var(--font-color)!important;
    font-family: var(--text-font)!important;
    cursor: pointer;
  }
   .customized-price-container form div label input{
    margin-top: 0px;
   }
  
  .customized-price-container form div p {
    font-size: 12px;
    font-weight: 700;
  }

  @media (min-width: 600px) {
    .customized-price-container form div label,
    .customized-price-container form div p {
      font-size: 18px;   
    }
  }