@import "variables";

.container-custome-price{
    width: 100%;       
    background-color:var(--secundary-bg-color);    
}

.container-custome-price .wrapper-inputs{
    padding:5% 5%;
    display:grid;
    grid-template-columns: 2fr 5fr;
    column-gap: 10px;
    align-items: center;
    
}
.container-custome-price .wrapper-inputs label{
    font-size: 13px;
    color:var(--font-color)
}

.container-custome-price .customized-price-btn {
    width: 80%;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 10%;
    font-family: var(--title-font) !important;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--title-font-color);
    background: var(--btn-color);
  }