.customerList-container table{
   width: 90%;
   margin: 3px 5%;
}
.customerList-container .search-container{
    display:flex;
    justify-content: center;
    margin:10px 0;
   
}
.customerList-container .search-container input{
width: 60%;
border-radius: 10px;
min-height: 40px;
border:none;
}
.customerList-container .button-title-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.customerList-container .button-title-container h5{
    text-align: center;
}
.customerList-container .button-title-container button{
    max-width: 140px;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 10%;
    font-family: var(--title-font) !important;
    font-size: 12px;
    font-weight: bold;
    color: var(--title-font-color);
    background: var(--btn-color);
}