@import './adminStyleReuse.module.scss';

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;

    .containerEditStock {
        background-color: $bg-admin-default;
        padding: 20px;
        border-radius: 8px;
        max-width: 700px;
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        text-align: center;

        .closeBtnRow {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin-bottom: 0px;

            .closeBtn {
                background: transparent;
                border: none;
                font-size: 2rem;
                cursor: pointer;
                color: var(--font-color);
            }
        }
      

        .titleRow {
            width: 100%;

            h2 {
                font-size: 2.6rem;
                font-weight: bold;
                color: $admin-title-color;
                margin: 0;
            }
        }

        .inputGrid {
            display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
           
            
           div{
            display:grid;
            grid-template-columns: auto;
            align-content: center;
            input{
                max-width: 100px;
                margin:0 auto
            }
           }           
        }
.textareaField{
    display:grid;
    grid-template-columns: auto;
    width: 90%;
    margin: 5px auto;
}

.volumeRow {
    width: 100%;
    
    h3,
    p {
        color: $admin-title-color;
        margin: 5px 0;
        font-size: 1.1rem;
    }
}

        .btnRow {
            width: 100%;
            display: flex;
            justify-content: center;

            .addBtn {
                @include btnAdmin;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }
    }
}