@import 'variables';

.customerList-container div{
    display: flex;
    justify-content: center;
}
.customerList-container div button {
   
    border-radius: 10px;
        padding: 15px 35px;
  
    font-family: var(--title-font) !important;
    font-size: 18px;
    font-weight: bold;
    color: var(--title-font-color);
    background: var(--btn-color);
   
}
.customerList-container div h1{
  margin:60px 0;
    text-align: center;
    font-size: 39px;
}

table {
    width: 100%;
    /* Ajusta a tabela para ocupar toda a largura disponível */
    border-collapse: collapse;
    /* Remove os espaçamentos entre bordas */
}

table th,
table td {
    border: 1px solid #ccc;
    /* Define bordas visíveis entre linhas e colunas */
    padding: 8px;
    /* Adiciona espaçamento interno */
    text-align: left;
    /* Alinha o texto à esquerda */
}

table th {
    background-color: var(--secundary-bg-color);
    /* Define uma cor de fundo para o cabeçalho */
    font-weight: bold;
    /* Destaca o texto do cabeçalho */
}

table tr:nth-child(even) {
    background-color: var(--secundary-bg-color);
    /* Adiciona uma cor de fundo para linhas pares */
}

table tr:hover {
    background-color: #e2c11d;
    /* Destaca a linha ao passar o mouse */
}

table .totals td{
    font-weight: bold;
    font-size: 15px;
}