
@import './adminStyleReuse.module.scss';

.customerListContainer{
    position: relative !important;

    .containerIcon {
        position: absolute;
         top: 10;
          right: 10;
           z-index: 10;
           a{
            display:flex;
            align-items: center;
            text-decoration: none;
            span{
                font-size: 2rem;
                color: '#ff9800';
                font-weight: bold;
                cursor: pointer;
                padding: 0.5rem;
                border-radius: 50%;
                background: #fff;
                box-shadow: 0 2px 8px rgba(0,0,0,0.1);
            }
           }
    }

    .containerAddExpenses{
        position: relative;
    }
    .btnAdd {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin:40px 0;
         button{
       @include btnAdmin;
       }
    }
    .titleTable{
        margin:50px 0;
    }
    div h1{
    margin:60px 0;
        text-align: center;
        font-size: 39px;
    }
     .openPopup{
    cursor: pointer
    }

    table thead tr th{
        font-size: 12px;
    }
      .containerExpensesManegementTable{
        @include tableContainer
    }
}