.form-position {
    position: relative;
    top: 100px;
    left: 3%; 
    background-color: rgb(196, 184, 184);
  
}
/* Retirar a condição de fixo desse pop porque limita o campo de atuação */
/* .Edit-Add-Popup{
    position: fixed;
    top: 19px;
    left:10%;
    z-index:10;
    width: 80%;
    max-width: 700px;
    background: rgb(229 229 229);
} */
.Edit-Add-Popup .close-btn{
    display:flex;
    justify-content: end;
}
.Edit-Add-Popup .close-btn button{
    background-color: transparent;
    border:none;
    font-size: 20px
}

.image-preview{
   max-width: 60px
}
.custom-select {  
    max-height: 100px;
    /* Ajuste conforme necessário */
    overflow: hidden;
    /* Para evitar que as opções ultrapassem o tamanho do select */
}

.custom-select:focus {
    overflow: hidden;
    /* Habilita o scroll no dropdown */
}

.container-new-sideDishes{
    position:fixed;
    top: 20%;
    left:10%;
    width: 80%;
    border:solid 2px brown;
    background:white;
}


