.form-position {
    position: absolute;
    top: 100px;
    left: 3%; 
    background-color: rgb(221, 214, 214);
  
}

.image-preview{
   
}
.custom-select {  
    max-height: 100px;
    /* Ajuste conforme necessário */
    overflow: hidden;
    /* Para evitar que as opções ultrapassem o tamanho do select */
}

.custom-select:focus {
    overflow: hidden;
    /* Habilita o scroll no dropdown */
}


