.main_header nav{
    position: relative;
    width: 100%;
    max-width: 100%; /* Ajuste conforme necessário */
    height: auto;
    overflow: hidden;    
}
.main_header .toten{
    height: 5vh;
}
.main_header.toten nav {
    height: 242px;
    width: 261px;
    position: relative;    
    overflow: visible;
    
}
.main_header.orderqueue nav {
    /* Estilos específicos para o header quando a URL contém /orderqueue */
    max-width: 650px; 
    max-height: 100px;
   
     /* Exemplo: tamanho reduzido do logotipo */
    /* Adicione outros estilos conforme necessário */
  }
  .main_header.toten nav img {
      left: -10px;
      top: 34%;
      transform: translate(36%, -53%);
  }


  .main_header.orderqueue nav img{
      max-width: 150px;
      left: 33%;
      transform: translate(337%, -17%);
      top: 20%;
  }

.main_header nav img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    object-fit: contain;
}
.main_header nav::after{
    content: '';
    display: block;
    padding-bottom: 25%;
}


