.main_header nav{
    position: relative;
    width: 100%;
    max-width: 624px; /* Ajuste conforme necessário */
    height: auto;
    overflow: hidden;
}
.main_header nav img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.main_header nav::after{
    content: '';
    display: block;
    padding-bottom: 55%;
}