.main_header nav{
    position: relative;
    width: 100%;
    max-width: 624px; /* Ajuste conforme necessário */
    height: auto;
    overflow: hidden;
}
.main_header.orderqueue nav {
    /* Estilos específicos para o header quando a URL contém /orderqueue */
    max-width: 650px; 
    max-height: 145px;
     /* Exemplo: tamanho reduzido do logotipo */
    /* Adicione outros estilos conforme necessário */
  }


  .main_header.orderqueue nav img{
max-width: 150px;
transform: translate(-50%, -17%);
top: 20%;
}

.main_header nav img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.main_header nav::after{
    content: '';
    display: block;
    padding-bottom: 55%;
}

