@import "./adminStyleReuse.module.scss";

.includeSideDishesContainer{
    width:90%;
    background-color: $bgColorForm;
  margin:10px auto;
  max-height: calc(80vh - 40px); /* Altura máxima ajustada ao padding do contêiner externo */
  overflow-y: auto;

  .helpIconHeader {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    margin-bottom: 5px;
    margin-top: -10px; // Ajuste para alinhar com o botão X se necessário
    
    .helpIconContainer {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            background-color: #FCA311;
            color: #14213D;
            text-decoration: none;
            border-radius: 50%;
            font-size: 1.2rem;
            font-weight: bold;
            transition: all 0.3s ease;
            box-shadow: 0 4px 10px rgba(252, 163, 17, 0.2);
    
            &:hover {
                background-color: #fff;
                transform: scale(1.1);
            }
        }
    }
}

  div{
        label {
                font-size: $fontSizeFormLabel;
                font-family: arial;
                padding:10px;
        }
        select {
            font-size: $fontSizeForm !important;
        }

    }

.formButtonSubmit {
    @include containerButtonSubmit;
    button {
        @include btnSubmit;
    }
    }
}


.selected-dishes{
   
    margin:3px 5px;
}
.selected-dishes .selected-item{
    display: flex;
    justify-content: space-between;
    margin:2px 5px;
    width: 220px;
    align-items: center;
    border:solid 1px var(--secundary-bg-color);
    padding:2px 2px;
    max-height: 40px;
}
.selected-dishes .selected-item button{
    border: none;
    background: none;
}
.selected-dishes .selected-item p{
   font-size:1rem;
   margin:0;
   color: red;
}

