.item-container{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
.item-container h2{
color:#A43334;
font-size:25px;
font-weight: bold;
}
.item-container .comments{
    font-size: 12px;
    color:#A43334;

}
.price{
color: #A43334;
}

.content-modal-dishes{
    box-shadow: 14px 23px #8888889c;
    position: fixed;
    top: 200px;
    left: 2%;
    background: white;
    border: solid 2px gray;
    width: 80%;
    z-index: 50;

}
.content-modal-dishes div {
   display: flex;
   justify-content: end;
}
.content-modal-dishes div button {
    margin: 0px;
    color: black;
    border: none;
    background: none;
    max-width: 30px;
    max-height: 30px;
}
.content-modal-dishes h1{
    text-align: center !important;
    color:red;
}
.content-modal-dishes img {
   width: 80%;
   margin:10px 10%;
}
.content-modal-dishes p {
   padding:10%;
   color:black;
}
.content-modal-dishes h3 {
    padding-bottom: 50px;
    color: black;
    text-align: center;
    padding-bottom: 50px;
}