.title-dishes {
    color: black;
    font-size: 17px;
}

.form-position {
    position: absolute;
    top: 100px;
    left: 15%;
}
@media(max-width: 450px) {
    .form-position {
        position: absolute;
        top: 100px;
        left: 3%;
    }
}