
@import 'variables.css';

.container-btn section{
    margin-top:30px;

}

.container-btn section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 22px 27px 10px 22px;
}
.container-btn section div{
max-width: 139px;
margin:0 auto;
}

  
.container-btn section button, 
.container-btn section div p {
      border: none;     
      font-weight: 700;
      font-size: 16px;
      background: var(--bg-color);
  font-family: var(--text-font);
}
.container-btn section button a{
      color: var(--font-color);
      text-decoration: none;

  }
  .container-btn section p{   
      font-weight: 700;
      font-size: 19px;
      color: var(--font-color);
      font-family: var(--text-font);
      margin: 0;
      text-align: center;
  }
  .footer{
    width: 100%;
    min-height:70px;
  }



