.containerPictureMenu {
    position: relative;
    top:-260px;
    .containerDishes{
        position: absolute;
        top:20%;
        left:200px;
        z-index:50;
    }
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.loaded {
        opacity: 1;
    }
    .submenu {
        display: grid;
        grid-template-columns: 1fr 4fr;

        .categories {
            max-height: 90vh; // Limita a altura máxima
            overflow-y: auto; // Adiciona barra de rolagem caso necessário
            margin-top: 56px;
            background-color: var(--bg-color);
            
        }
        .dishes {
            .mainTitle {
                color: var(--btn-color);
                font-size: 30px !important;
                color: var(--title-font-color);
            }

            .subContainer {
                max-height: 70vh; // Limita a altura máxima
                overflow-y: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
gap: 10px;
               
            }
        }

        /* Animação fadeInUp */
        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .dishes {
            background-color: var(--bg-color);
        }
    }
}