.containerPictureMenu {
    position: relative;
    top:-260px;
    .containerDishes{
        position: absolute;
        top:20%;
        left:200px;
        z-index:50;
    }
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.loaded {
        opacity: 1;
    }
    .submenu {
        display: grid;
        grid-template-columns: 1fr 4fr;

        .categories {
            max-height: 90vh; // Limita a altura máxima
            overflow-y: auto; // Adiciona barra de rolagem caso necessário
            margin-top: 56px;
            background-color: var(--bg-color);
            .categoryItem {
                width: 100%;
                aspect-ratio: 1 / 1; // Torna a div quadrada
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                overflow: hidden;
                position: relative;
                background-color: var(--secundary-bg-color);
                margin-bottom: 10px;

                h3 {
                    height: 20%; // Ocupa 1/5 da altura total
                    display: flex;
                    color:var(--title-font-color);
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                   
                    width: 100%;
                    z-index: 2;
                }

                img {
                    width: 85%; // Faz a imagem ficar mais larga que alta
                    height: 80%; // Ocupa o restante do espaço disponível
                    object-fit: cover; // Garante que as bordas sejam cortadas
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        .dishes {
            .mainTitle {
                color: var(--btn-color);
                font-size: 30px !important;
                color: var(--title-font-color);
            }

            .subContainer {
                max-height: 70vh; // Limita a altura máxima
                overflow-y: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
gap: 10px;
               
            }
        }

        /* Animação fadeInUp */
        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .dishes {
            background-color: var(--bg-color);
        }
    }
}