@import 'variables';

.nested-btn {
  width: 100%;

  button {
    width: 80%;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 10%;
    font-family: var(--font-text-button, 'Ink Free');
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-text-button, rgb(22, 92, 172));
  }

  .main {
    background: var(--main-bg-btn-color, rgba(255, 0, 0, 0.753));
  }

  .bebidas {
    background: var(--main-bg-btn-color, rgba(255, 0, 0, 0.753));
  }

  .alcoolicos {
    background: rgba(255, 0, 0, 0.308);
  }

  .naoalcoolicos {
    background: rgba(129, 12, 129, 0.267);
  }
}
