@import "variables";
.recipeDish-container{
    background-color:gray;
    max-height: 80vh;
    overflow-y:auto;
    background-color: var(--bg-color);
    border:solid 3px var( --secundary-bg-color)
    
}
.recipeDish-container h1{
    margin: 50px auto;
}
.recipeDish-container .btn-container{
    display:flex;
    justify-self: center;
    padding: 30px;
}
.recipeDish-container .ingridients{
    display:flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin:40px auto;
}
.recipeDish-container .ingridients .select-input{
    height: 45px;
    max-width: 160px;
}

.recipeDish-container .ingridients .select-input {
    height: 45px;
    max-width: 160px;
}


.recipeDish-container .ingridients .number-input{
    max-width: 100px;
    height: 45px;
}
.recipeDish-container button, 
.recipeDish-container .ingridients button{
    max-height: 50px;
   
        border-radius: 10px;
        padding: 10px 20px;
      
        font-family: var(--title-font) !important;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--title-font-color);
        background: var(--btn-color);
}
.recipeDish-container .items-recipe {
    margin:50px auto;
}
.recipeDish-container .ingridients input{
    margin-bottom:0 !important;
}

.recipeDish-container .text-area{
    width: 100%;
    min-height: 15vh;
}



