.management-requests{
   border:solid black 2px;
}
.management-requests .container-date{
    display:flex;
   justify-content: space-around;
}
.management-requests .container-date input{
    max-width: 150px;
}
.management-requests table{
    width: 90%;
    margin:auto;
}

.management-request .empty-message {
    text-align: center;
    color:red;
}
.score-total{
    background-color:white;
    width:100%;
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
}