@use './mixin' as *;
@import "./adminStyleReuse.module.scss";

.containerStyles {
    position: relative;
    padding: 20px;

    .containerIcon {
        @include containerHelp;
    }

    .btnBack {
        @include btnBack;
    }
}

.formButtonSubmit {
    @include containerButtonSubmit(30px 0);

    button {
        @include btnSubmit;
        cursor: pointer;
        transition: opacity 0.2s;
        
        &:hover {
            opacity: 0.8;
        }
    }
}
