@import "variables.css";
@import "adminStyleReuse.module.scss";

.containerSumaryExpenses {
  max-height: 80vh;  
  overflow-y: auto; 
  width: 40%;
  background-color: var(--bg-admin-default)!important;
  color: var(--admin-title-colo);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
    top: 105px;
    left: 52%;
  transform: translate(-50%, -20%);
  z-index: 10;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family:Arial, Helvetica, sans-serif;
  z-index: 10;
  .closeBtn {
    position: relative;
    top: 10px;
    right: 10px; 
    border: none;
    font-size: 1.2rem;
    color: var(--font-color);
    cursor: pointer;
    .closeBtn:hover {
      color: var(--btn-color);
    }
  }
 h1 {
  margin: 0 !important;
  text-align: center;
  font-size: 1.8rem;
  color: var(--admin-title-colo);
  font-family: var(--title-font);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  div{
    p {
     margin: 8px 0;

  }
  span {
    font-weight: bold;
    color:(--title-font-color)ack;
    .containerItem {
      border: solid 1px var(--bg-color);
      border-radius: 8px;
      padding: 15px;
      background-color: var(--secundary-bg-color);
      color: var(--title-font-color);
      font-size: 0.9rem;
      h4 {
         margin: 0 0 10px 0;
         color: var(--title-font-color);
      }
    }
}

}
}

}




