@import 'variables';

.total-keyboard-container{
background-color: var(--bg-color);
padding: 4px;
width: 135%;
height: 150%;
position: relative;
left: -25%;
}
.text-keyboard-line-container{
    margin-bottom:5px;

     border:solid 2px var( --secundary-bg-color);
     justify-items:center ;
     padding: 5;
     gap: 5px;
     display: grid;
     grid-auto-flow: column;
     grid-auto-columns: min-content;;
     justify-content: center;

     
     
  }
  .text-keyboard-line-container .text-character{
     width: 50px;
     height: 50px;    
     display: grid;
     background-color: var(--btn-color);
     place-items: center;
   font-size: 18px;
 
  }
  .text-keyboard-line-container .one-char{
   font-size: 25px;
  }
  .space{
   width: 100px !important;
  }