@import './adminStyleReuse.module.scss';


.containerTrackStockproduct {
    position: relative;
    .tableStockContainer{
        @include tableContainer
    }
   
    .containerAdjustmentScreen {
        position: relative;
        z-index: 30;
    }
    .containerBtnStockList{
        position: fixed;
        bottom: 79px;
        right:38%;
        z-index: 20;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        .btnChangeStockList{
            @include btnUtility(300px);
        }
    }
    .warning {
        background-color: #ffcccc;
        color: #ff0000;
        font-weight: bold;
    }
}
