@import './adminStyleReuse.module.scss';


.containerTrackStockproduct {
    position: relative;
    .tableStockContainer{
        @include tableContainer
    }

        .containerBtnView {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 3%;
            width: 100%;
    
            h2 {
                flex: 1;
                text-align: center;
                    margin: 0px 0px 0px 140px; // remove espaçamento padrão
            }
    
            button {
                @include btnAdmin;
            }
        }
   
    .containerAdjustmentScreen {
        position: fixed;
        z-index: 30;
        top: 20px; /* ou onde você quiser verticalmente */
        left: 50%;
        transform: translateX(-50%);
    }
    .containerBtnStockList{
        position: fixed;
        bottom: 2%;
        right:38%;
        z-index: 20;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        .btnChangeStockList{
            @include btnUtility(300px);
        }
    }
    .warning {
        background-color: #ffcccc;
        color: #ff0000;
        font-weight: bold;
    }
}
