  .warningMessageWrapper {
      width: 100%;
      height: 100vh;
      position: relative;
      top: 300px;
      background: #00000091;

      h1 {
          font-size: 2rem;
          color: white;
          margin: 50% 5%;
          width: 100%;
          text-align: center;
          animation: blink 1s infinite;
      }
  }

  @keyframes blink {
      0% {
          opacity: 1;
      }

      50% {
          opacity: 0;
      }

      100% {
          opacity: 1;
      }
  }