@import "./variables.css";

.container-warning-message {
    background-color:var(--secundary-bg-color);
    border:solid 3px yellow;
    padding:10px;
    margin:10px 10%
}
.container-warning-message .container-btn{
    display:flex;
     justify-content  : space-around;
}

.container-warning-message .container-btn button{   
        width: 80%;
        border-radius: 10px;
        padding: 10px 20px;
        margin: 20px 10%;
        font-family: var(--title-font) !important;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--title-font-color);        background: var(--btn-color);
      
}

.container-warning-message p{   
    width: 80%;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 10%;
    font-family: var(--title-font) !important;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--title-font-color);    
  
}