@import './adminStyleReuse.module.scss';

.containerWelcomeSalute {
    position: relative;
    padding: 20px;

    .containerIcon {
        @include containerHelp;
    }

    .btnBack {
        @include btnBack;
    }
}

.containerTextArea {
    margin-top: 20px;

    div {
        margin-bottom: 20px;

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        .textArea {
            width: 100%;
            min-height: 15vh;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-family: inherit;
        }
    }
}
